.letra{
    font-family: "Arial ", sans-serif;
    font-style: italic;
    font-size:32px;
}

.letras1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.letra2{
    font-size: 25px;
    font-weight: bold;

}