input {
    border: 1px solid green;
    width: 100%;
    padding: 5px;
}

label {
    font-weight: bold;
    color: green;
}

input[type='text'] {
    border: 1px solid red;
    width: 100%;
    padding: 5px;
}

input[type='text'], input[type='email'] {
    border: 1px solid green;
    width: 100%;
    padding: 5px;
    color: green;
    font-weight: bold;
}

input[type='button'] {
    width: 100%;
    background-color: green;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}
input[type='button']:hover {
    background-color: gray;
}
